body{
    background: rgb(170, 221, 82);
    font-family: 'Times New Roman', Times, serif;
}
.header_div{
    background: white;
    color: rgb(255, 233, 145);
}
.header_div p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(64, 149, 224);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
letter-spacing: 4px;
font-weight: bolder;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 30px;
width: 130px;
}
.copy_right_footer{
    position:fixed ;
    color: rgb(64, 149, 224);
    background-color: rgb(255, 138, 138);
    bottom:0;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    width: 100%;
}